In [1]:
import numpy as np
import pandas as pd

In [4]:
point = pd.read_csv('mpp_f.csv')

In [5]:
point

,Teams,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Chennai Super Kings,680.0,712.0,698.5,685.0,724.5,843.0,763.0,754.5,0.0,0.0,791.0,764.0
1,Kolkata Knight Riders,514.5,484.0,562.5,690.5,774.5,720.0,742.0,627.0,559.0,691.0,895.5,756.0
2,Kings XI Punjab,727.0,634.5,603.0,693.0,664.0,632.0,693.0,572.5,364.0,618.5,700.0,657.0
3,Royal Challengers Bangalore,517.5,681.5,822.0,855.5,771.0,853.5,601.0,678.0,959.0,464.0,653.5,560.5
4,Sunrisers Hyderabad,0.0,0.0,0.0,0.0,0.0,850.5,632.0,657.0,825.5,688.0,794.0,694.5
5,Delhi Capitals,631.0,358.0,539.5,632.5,726.5,584.0,458.0,590.0,581.0,531.0,676.5,677.0
6,Mumbai Indians,724.0,611.5,699.5,748.5,698.5,912.5,540.0,701.5,566.0,592.5,737.5,830.0
7,Rajasthan Royals,917.0,601.5,577.5,593.5,631.0,873.5,523.5,603.5,0.0,0.0,609.5,568.0
8,Gujarat Lions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,630.5,481.0,0.0,0.0
9,Rising Pune Supergiants,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,486.5,675.0,0.0,0.0
10,Deccan Chargers,598.0,751.0,748.5,614.0,638.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Kochi Tuskers Kerala,0.0,0.0,0.0,576.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Pune Warriors,0.0,0.0,0.0,623.0,429.0,604.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
y = list()
s = 0
c = 0
for i in range(13):
    for j in range(0, 12):
        if(point.at[i, str(2008 + j)] != 0):
            s += point.at[i, str(2008 + j)]
            c+=1
    y.append(s/c)
    s = 0
    c = 0

In [18]:
pd.concat([point, pd.DataFrame(y, columns = ['2020'])], axis = 1).to_csv('mpp_final.csv', index = False)